.parent{
    display: grid;
    grid-template-rows: auto;
}

body{
    background-image: url(../imagenes/imagenes-paisajes-hermosos-atardecer-reflejos-flores.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}