*{
   padding: 0;
   margin: 0;
}

.alum_adult{

    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-image: url(../imagenes/nasa-Q1p7bh3SHj8-unsplash.jpg);
    content: "";
    position: absolute;
    
    

}

.link_blue1{
    display: inline-block;
    background-color: dodgerblue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}
.link_blue2{
    display: inline-block;
    background-color: dodgerblue;
    justify-self: center;
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 30px;
}

