@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');




:root{
    --padding-container: 100px 0px;
    --color-titulo: blue
}

body{
    font-family: 'Poppins', sans-serif;
    

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.cuerpo{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid; 
    grid-template-rows: 100px 1fr;
    
}

.cuerpo::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../imagenes/neven-krcmarek-50HS3AzJsvQ-unsplash.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
    z-index: -1;
}

.nav1{
    --padding-container: 0px;
    height: 100%;
    display: flex;
    align-items: center;
}

.titulo{
    font-weight: 300;
}

.nav_link{
    margin-left: auto;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_imagen{
    display: block;
    width: 30px;
}

.nav_salir{
    
}

