@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    
}

:root{
    --padding-container: 100px 0px;
    --color-titulo: #001a49
}

body{
    font-family: 'Poppins', sans-serif;
    background: moccasin;

}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.cuerpo{
    width: 100%;
    height: 100vh;
    min-height: 600px; 
}

.nav{
    --padding-container: 0px;
}

h1 h2{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


nav ul li {

    border: 1px solid black;
    
}



nav ul li{
    list-style: none;
    margin: 10px;    
    margin: 80px;
}

.Menu {

    margin-right: 30px;
    float: left;
}


img {

    height: 110px;
    width: 110px;
    
}

.Menu {

    margin-right: 50px;
    text-align: center;
    
        

}




img{
    height: 110px;
    width: 110px;   
}
