
.formulario{
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
body {
    background-image: url(../imagenes/jackson-hendry-eodA_8CTOFo-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}