*{
    margin: 0px;
    padding: 0px;
}

body{
    background: moccasin;
}

h1 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#parent{
    background: paleturquoise;
    height: 100px;
    width: 100%;
}
